@import url("https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Galmuri11", "Galmuri9", "Galmuri7", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
