* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Galmuri11', 'Press Start 2P', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
